<body class="container">
    <header class="head">
        <h1 class="text-success">CHATNOW</h1>
        <div>
            <a href="/signup" class="text-success fw-bold">Signup <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            <a href="/login" class="text-success fw-bold">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        </div>
    </header>
    <div class="text-center my-5">
        <img src="/img/image.png" class="rounded mx-auto d-block" alt="Chatnow image" width="400" height="400">
        <a href="/signup" class="btn btn-success btn-lg mt-3"><b>GET STARTED</b></a>
    </div>
</body>
