<body class="container">
    <header class="head">
      <h1 class="text-success">CHATNOW</h1>
      <div>
        <a
          href="/signup"
          class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >Signup <i class="fa fa-user-plus" aria-hidden="true"></i
        ></a>
        <a
          href="/login"
          class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >Login <i class="fa fa-sign-in" aria-hidden="true"></i
        ></a>
      </div>
    </header>
    <img
      src="/img/images.png"
      class="rounded mx-auto d-block"
      alt="Chatnow image"
    />
    <a href="signup.html" class="btn btn-success"><b>GET STARTED</b></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
